.polygon4 {
  position: absolute;
  width: 851.44px;
  height: 977.91px;
  left: 2180.68px;
  top: 2860.01px;

  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 20px rgba(211, 240, 253, 0.3), inset 0px 4px 250px rgba(255, 255, 255, 0.5);
  transform: rotate(119.6deg);
}